*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header nav{
    background-color: #4f4f4f;
    padding: 0 50px;
}

header nav button{
    background-color: rgb(255, 148, 18);
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
}


.sidebar{
    width: 300px;
    text-align: center;
    padding: 50px 0;
    box-shadow: rgba(255, 51, 0, 0.588) 0px 7px 29px 0px;
    height: 100vh;
    transform: scaleX(0);
    opacity: 0;
    transition: 0.3s ease-in;
    transform-origin: left;
}
.sidebar ul li a:hover{
    color: blue;
    background-color: #fff9e6;
}
.sidebar ul li input{
    opacity: 0;
    width: 0;
}
.sidebar ul li i{
    cursor: pointer;
}

.activeSidebar{
    transform: scaleX(1);
    opacity: 1;
}